name: End-to-end tests
on: push

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: List files (verifica package.json)
        run: ls -l

      - name: Check npm scripts
        run: npm run

      - name: Run Cypress via npm
        run: npm run test:cloud
        env:
          CYPRESS_RECORD_
